<div class="main-div round">
  <div class="mat-elevation-z8 round">
    <mat-table class="full-width-table" [dataSource]="dataSource">
      <!-- Title Column -->
      <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef class="round-left">
          Title
        </mat-header-cell>
        <mat-cell *matCellDef="let initiative">{{ initiative.title }}</mat-cell>
      </ng-container>

      <!-- Description Column -->
      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef>
          Description
        </mat-header-cell>
        <mat-cell *matCellDef="let initiative">{{
          initiative.description
        }}</mat-cell>
      </ng-container>

      <!-- State Column -->
      <ng-container matColumnDef="state">
        <mat-header-cell *matHeaderCellDef class="round-right">
          State
        </mat-header-cell>
        <mat-cell *matCellDef="let initiative">{{ initiative.state }}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row
        *matRowDef="let initiative; columns: displayedColumns"
        (click)="getRecord(initiative)"
      ></mat-row>
    </mat-table>

    <div class="plus-btn-div">
      <i class="fas fa-plus-circle" (click)="openAddInitiativeDialog()"></i>
      <!-- <i class="fas fa-plus"></i> -->
      <!-- above is no circle plus icon -->
    </div>
    <!-- <mat-paginator
      #paginator
      [length]="dataSource?.data?.length"
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20]"
      class="round"
    >
    </mat-paginator> -->
  </div>
</div>
