.full-width-table {
  width: 100%;
}
.mat-header-cell{
  background-color: #474C55;
  color:  #FFFFFF;
}
.mat-sort-header{
  font-size: 150%;
  font-family: 'Futura-Std-Heavy';
}
.mat-cell{
  color: #72A4C2;
}
.main-div{
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  border: .5px solid #474C55;
  border-radius: 15px;
}
.round{
  border-radius: 15px;
}
.round-left{
  border-radius: 13px 0px 0px 0px;
}
.round-right{
  border-radius: 0px 13px 0px 0px;
}
.plus-btn-div{
  display: flex;
  flex-direction: row-reverse;
  min-height: 1em;
}
.fa-plus-circle{
color: #474C55;
background-color: #F26925;
/* color: #F26925;
background-color: #474C55; */
margin: 1em 1em ;
padding: 0px;
border-radius: 100%;
/* padding: -10px; */
/* background-size: 0; */
}
/* header size needs to be responsive for small screens */
/* should consider making font sizes rem or em so that they shrink or otherwise adapt them ot small screens... */