/* .main-div{
    background-color: #FFFFFF;
    color: #474C55;
    float: left;
    z-index: 20;
    border: .5px solid #474C55;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    border-radius: 15px;
    font-family: 'Futura-Std-Book';
    font-family: 'Futura-Std-Medium';
    } */
    .header{
      background-color: #474C55;
      /* #F26925; */
      color: #FFFFFF;
      /* needs more space between letters... */
      padding: 1em 1em 1em 2em;
      font-size: 12pt;
      
      /* fix this */
      border-bottom: 1px solid #474C55;
      border-radius: 15px 15px 5px 5px;
    }
    .form-label{
      padding: 22em 1em 1em .5em;
    }
    h3{
    padding-left: 0;
    padding-top: 1em;
    /* font-family: 'Futura-Std-Heavy'; */
    /* font-family: 'Futura-Std-Book'; */
    font-family: 'Futura-Std-Heavy';
    font-family: 'test';
    font-size: 18pt;
    }
    label{
        border: black;
    }
    .alignment{
      padding-left: 1em;
      padding-right: 1.5em;
    }
    input{
      border: 1px solid black;
      display: block;
      width: 99%;
      padding: .5%;
    }
    textarea{
      width: 100%;
      border: 1px solid black;
      display: block;
      width: 99%;
      padding: .5%;
      
    }
    .flex-container{
      display:flex;
      flex-direction: row-reverse;
      padding: 2em 0;
    }
    button[mat-raised-button]{
      background-color: #B9B9BA;
      /* flex-direction: column-reverse; */
      /* display: flex;
     
      flex-wrap: wrap; */
      margin-right: 1.5em;
    }
    
    .form-div{
      margin-left: 5%;
      margin-right: 5%;
      width: 90%;
      border-radius: 15px;
      /* font-family: "Futura-Std-Book"; */
      font-family: 'Futura-Std-Book';
      border: .5px solid #474C55;
    }
    mat-form-field {
      width: 100%;
      font-family: 'Futura-Std-Book';
    }
    mat-card-title{
      font-family: 'Futura-Std-Heavy';
    }