
    .header{
      background-color: #474C55;
      color: #FFFFFF;
      padding: 1em 1em 1em 2em;
      font-size: 12pt;
      border-bottom: 1px solid #474C55;
      border-radius: 15px 15px 5px 5px;
    }
    .form-label{
      padding: 22em 1em 1em .5em;
    }
    h3{
    padding-left: 0;
    padding-top: 1em;
    font-family: 'Futura-Std-Heavy';
    font-family: 'test';
    font-size: 18pt;
    }
    label{
        border: black;
    }
    .alignment{
      padding-left: 1em;
      padding-right: 1.5em;
    }


    .flex-container{
      display:flex;
      /* flex-direction: row-reverse; */
      justify-content: center;
      padding: 2em 0;
    }
    button[mat-raised-button]{
      background-color: #B9B9BA;
      /* margin-right: 1.5em; */
    }
    
    .form-div{
      /* margin-left: 5%; */
      /* margin-right: 5%; */
      width: 90%;
      border-radius: 15px;
      font-family: 'Futura-Std-Book';
      border: .5px solid #474C55;
      min-width: 300px;
      max-width: 600px;
      margin-left: auto;
      margin-right: auto;
    }
    mat-form-field {
      width: 100%;
      font-family: 'Futura-Std-Book';
    }
    mat-card-title{
      font-family: 'Futura-Std-Heavy';
    }
    img{
      /* background-color: #FFFFFF; */
      padding-left: 1em;
    }
    .buffer{
      min-height: 10vh;
    }
    p{
      padding: 1em;
      /* align-content: center; */
      text-align: center;
    }