<div class="form-div">
    <form [formGroup]="loginForm" novalidate>
        <div class="header alignment">
            <mat-card-title>Login to account</mat-card-title>
        </div>
        <div class="buffer">
            <!-- <img src="../../assets/img/rev-logo.png" alt="revature Logo"> -->
            <p>Please login through Github to access the Strategic Initiative Board</p>
        </div>
        <div class="flex-container">
            <button mat-raised-button (click)="login()">Login Through Github <img
                    src="../../assets/img/GitHub-Mark-32px.png" alt="Github Mark Logo"></button>
        </div>
    </form>
</div>