<div class="form-div">
    <!-- replacing main-div -->
    <form [formGroup]="loginForm" novalidate >
        <div class="header alignment">
            <mat-card-title>Login to account</mat-card-title>
        </div>
        <div class="alignment">
            <mat-form-field appearance="Email">
                <label>Email</label>
                <textarea matInput id="email" placeholder="someone@revature.com">{{this.email}}</textarea>
            </mat-form-field>
            <mat-form-field appearance="password">
                <label>Password</label>
                <textarea matInput id="password" placeholder="Password">{{this.password}}</textarea>
            </mat-form-field>
        </div>
        <!-- need to style this... why is it blue?-->
        <div class="flex-container">
            <button mat-raised-button (click)= "verify()">Submit</button>
        </div>
    </form>
</div>