<!-- <div class="main-div">
  <div class="header alignment">
    Create Initiative
  </div>
  <div class="alignment">
    <form>
      <h3>Title</h3>
      <input id="title-input">
      <h3>Description</h3>
      <textarea rows="20"></textarea>
      <div class="flex-container alignment">
        <button mat-raised-button>Submit</button>
        <button mat-raised-button>Cancel</button>
      </div>
    </form>
  </div>
</div> -->

<div class="form-div">
  <!-- replacing main-div -->
  <form [formGroup]="initiativeForm" novalidate>
    <div class="header alignment">
      <mat-card-title>Create Initiative</mat-card-title>
    </div>
    <div class="alignment">
      <h3>Title</h3>
      <mat-form-field appearance="none">
        <!-- test this with full width class -->
        <input matInput formControlName="title" />
        <mat-error
          *ngIf="initiativeForm.controls['title'].hasError('required')"
        >
          Title is <strong>required</strong>
        </mat-error>
        <!-- <mat-error *ngIf="initiativeForm.controls['title'].hasError('required')">
          Title is <strong>required</strong>
        </mat-error> -->
      </mat-form-field>
      <h3>Description</h3>
      <mat-form-field appearance="none">
        <textarea
          rows="15"
          matInput
          formControlName="description"
          
        >
        </textarea>
        <mat-error
          *ngIf="initiativeForm.controls['description'].hasError('required')"
        >
          Description is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <!-- need to style this... why is it blue?-->
      <div class="flex-container alignment">
        <button mat-raised-button (click)="clickSubmit()">Submit</button>
        <button mat-raised-button (click)="clickCancel()">Cancel</button>
      </div>
    </div>
  </form>
</div>
