<div class="form-div">
  <!-- replacing main-div -->
  <form [formGroup]="initiativeForm" (ngSubmit)="onSubmit()">
    <div class="header alignment">
      <mat-card-title>Create Initiative</mat-card-title>
    </div>
    <div class="alignment">
      <mat-form-field>
        <mat-label>Title</mat-label>
        <!-- test this with full width class -->
        <input matInput formControlName="title" />
        <mat-error
          *ngIf="initiativeForm.controls['title'].hasError('required')"
        >
          Title is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea rows="5" matInput formControlName="description"> </textarea>
        <mat-error
          *ngIf="initiativeForm.controls['description'].hasError('required')"
        >
          Description is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <!-- need to style this... why is it blue?-->
      <div class="flex-container alignment">
        <button
          mat-raised-button
          color="primary"
          type="button"
          (click)="onSubmit()"
          [disabled]="!initiativeForm.valid"
        >
          Submit
        </button>

        <button mat-raised-button type="button" (click)="onCancel()">
          Cancel
        </button>

      </div>
    </div>
  </form>
</div>
