.header {
  background-color: #474c55;
  color: #ffffff;
  padding: 1em 1em 1em 2em;
  font-size: 12pt;
  font-family: "Futura-Std-Heavy";
  border-bottom: 1px solid #474c55;
  border-radius: 15px 15px 0px 0px;
}

h3 {
  padding-left: 0;
  padding-top: 1em;
  font-family: "Futura-Std-Heavy";
  font-size: 18pt;
}

.alignment {
  padding-left: 1em;
  padding-right: 1.5em;
}

.flex-container {
  display: flex;
  flex-direction: row-reverse;
  padding: 2em 0;
}

.form-div {
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  border-radius: 15px;
  font-family: "Futura-Std-Book";
  border: 0.5px solid #474c55;
  font-size: 14pt;
}

mat-form-field {
  width: 100%;
}

mat-error {
  color: #f26925;
}

input {
  border: 1px solid black;
  display: block;
  width: 99%;
  padding: 0.5%;
}
textarea {
  border: 1px solid black;
  display: block;
  width: 99%;
  padding: 0.5%;
}

.full-width {
  width: 100%;
}

.shipping-card {
  min-width: 120px;
  margin: 20px auto;
}

.mat-radio-button {
  display: block;
  margin: 5px 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}

.main-div {
  background-color: #ffffff;
  color: #474c55;
  z-index: 20;
  border: 0.5px solid #474c55;
  width: 90%;
  border-radius: 15px;

  margin: 4em 5% 4em 5%;
}
