<app-header></app-header>
<!-- Title should  go accross top-->
<mat-grid-list cols="12" rowHeight="2:1" gutterSize="40px">
  <mat-grid-tile rowspan="12" colspan="8">
      <mat-grid-tile-header>Description</mat-grid-tile-header>
      <mat-divider></mat-divider>

       <div class="desc">
      <h3>
        Hear lies some descriptive information about the current iniative using
        html and no bootstrap or angular materials, its not exactly what I was
        looking for but this will do for now. Carry on!
      </h3> 
    </div>
    <mat-divider></mat-divider>
    <div><P>i dont knpw why this isnt working

    </P></div>
    
    <!-- <div class="contents">
      <app-links></app-links>
  
    </div> -->
      
    
  </mat-grid-tile>
  <mat-grid-tile rowspan="3" colspan="4">
    <div class="poc">
      <mat-grid-tile-header>Point of Contact</mat-grid-tile-header>
      <h3>Kenneth Marshall:Front-End</h3>
    </div>
  </mat-grid-tile>
  <mat-grid-tile rowspan="8" colspan="4">
    <mat-grid-tile-header>Members</mat-grid-tile-header>
  </mat-grid-tile>
</mat-grid-list>
