/* .sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
} */
.mat-toolbar{
  position: sticky;
}
.example-spacer {
  flex: 1 1 auto;
}
.mat-toolbar-row{
  background-color: #F26925;
  color:  #FFFFFF;
}