<p>
  <mat-toolbar class="navbar" color="primary">
    <mat-toolbar-row>
      <span>Strategic Initatives Board</span>
      <span class="example-spacer"></span>
      <div class="navbar-nav">
        <button mat-button routerLink="/all-initiative">Login</button>
        <button mat-button routerLink="/all-initiative">
          List of Initiatives
        </button>
        <button mat-button routerLink="/new-initiative">Logout</button>
      </div>
      <img src="../../assets/img/rev-logo.png" class="rev" />
    </mat-toolbar-row>
  </mat-toolbar>
</p>
<router-outlet></router-outlet>
