/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: "Futura-Std-Book";
    src: local("Futura-Std-Book"), url(./assets/fonts/Futura-Std-Book.otf);
}
@font-face {
    font-family: "Futura-Std-Bold";
    src: local("Futura-Std-Bold"), url(./assets/fonts/Futura-Std-Bold.otf);
}
@font-face {
    font-family: "Futura-Std-Heavy";
    src: local("Futura-Std-Heavy"), url(./assets/fonts/Futura-Std-Heavy.otf);
}
@font-face {
    font-family: "Futura-Std-Medium";
    src: local("Futura-Std-Medium"), url(./assets/fonts/Futura-Std-Medium.otf);
}




html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

