.child-1{
    /* background-color: #F26925; */
    border-radius: 10px;
    padding: 20px;
    color: white;
    }
.child-2{
    /* background-color: #F26925; */
    border-radius: 10px;
    padding: 20px;
    }

    
    .container{
     margin: 15px;
     height:200px;
     /* border:2px solid red; */
    }

    .title{text-align: center;}

.button{
    width: 100%;
}

.button2{
    justify-self: normal;
    margin-left: 28%;   
}
.child-3{
    
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    /* background-color: #F26925; */

}

.flex-container1{flex-direction: row;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;

}

.mat-card-title{
    background-color: #F26925;
    padding: .5em;
    border-radius: 15px 15px 0 0 ;
}
.main-title{
 background-color: #474C55;
 /* padding: .5em; */
 border-radius: 15px 15px 0 0 ;
}
.title{
/* background-color: #474C55; */

}
.main-div{
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    font-family: "Futura-Std-Book";
    border: .5px solid #474C55;
    border-radius: 15px; 
    /* padding: 1%; */
}
.minor-div{ 
    padding: .5em;
    border-radius: 15px 15px;
    border: .5px solid #474C55;
}
.major-div{
    padding: .5em;
}
.grey{
    background-color: #B9B9BA;
}
 .child-1, .child-2{

}


/* #F26925  -orange*/
/* #FFFFFF - white*/
/* #474C55 - dark grey*/
/* #72A4C2 - blue */
/* #FCB414 - yellow */
/* #B9B9BA - light grey*/